<header class="main-header">
    <section class="nav-section">
        <!-- Logo -->
        <a class="brand-logo" routerLink="/">GAME ROOM</a>
        
        <!-- Navegación -->
        <nav class="nav-bar">
        @if (userLogged() == false) {
            <a routerLink="/login" routerLinkActive="active">Log in</a>
            <a routerLink="/register" routerLinkActive="active">Register</a>

        }
        @else {
            <!-- Nota el exact: true para que no se quede pegado el estilo activo -->
            <a routerLink="/" 
                [routerLinkActiveOptions]="{exact: true}" 
                routerLinkActive="active">
                Home
            </a>
            <a routerLink="/about-me" routerLinkActive="active">Who am I?</a>
        }
    </nav>

        <!-- Mensaje de usuario -->
        @if (userLogged() == false) {
        <div class="user-greeting">Enjoy your session</div>
        }
        @else {
            <button class="btn-logout" (click)="logOut()"> Cerrar sesión </button>
            <button class="btn-toggle-chat" class="btn-chat" (click)="toggleChat()">
            <i class="fa-solid fa-message"></i> Chat
</button>
        }
    </section>
</header>