
    <aside class="chat-sidebar" [class.hide-chat]="isChatHidden()">
        <div class="chat-header">
            <h3>Sala de Chat Global</h3>
            <p>Recuerda respetar las reglas.</p>
        </div>
        
        <div class="chat-messages">
            <!-- Aquí irán los mensajes iterados con @for -->
            @if (chat.messages().length == 0) {
                <div class="system-message">Bienvenido al chat general.</div>
            }
            @else {
                @for (message of chat.messages(); track message.id) {
                    <div class="message-item">
                        <span class="user-tag"> {{message.users?.name}}: </span>
                        <span class="message-content"> {{message.content}} </span>
                        <span class="message-date"> {{message.created_at | date:'shortTime'}} </span>
                    </div>
                }
            }
        </div>

        <div class="chat-input-area">
            <input type="text" placeholder="Escribe un mensaje..." [(ngModel)]="newMessage" (keyup.enter)="sendMessage()">
            <button class="btn-send" (click)="sendMessage()">Enviar</button>
        </div>
    </aside>
