<section>

    <div>
        <h1>¡BIENVENIDO, {{user()?.name}} !</h1>
        <h4>Esta es la página principal de la sala de juegos.</h4>
        <h4>A tu derecha, podrás ver la sala de chat. Recuerda respetar nuestras condiciones de uso.</h4>
    </div>

    <div>
        <h2>A continuación: nuestros juegos:</h2>

        <div class="game-card">
            <p>Ahorcado</p>
            <img src="https://cdn-icons-png.flaticon.com/512/6168/6168592.png" alt="">
            <button>Jugar ahora</button>
        </div>

        <div class="game-card">
            <p>Mayor - Menor</p>
            <img src="https://i.pinimg.com/474x/2a/d5/d1/2ad5d11f2f74555ac712d44e30f7ba3d.jpg" alt="">
            <button>Jugar ahora</button>
        </div>

        
        <div class="game-card">
            <p>Preguntados</p>
            <img src="https://static.vecteezy.com/system/resources/thumbnails/022/169/932/small/3d-quiz-gold-title-for-contest-show-gold-font-for-trivia-typography-design-template-on-black-tile-background-typeface-in-light-glitter-frame-creative-retro-background-for-competition-vector.jpg" alt="">
            <button>Jugar ahora</button>
        </div>

        
        <div class="game-card">
            <p>Juego propio</p>
            <img src="https://img.magnific.com/vector-gratis/vector-tipografia-estilo-basura-trazo-pincel-signo-interrogacion_53876-140880.jpg?semt=ais_hybrid&w=740&q=80" alt="">
            <button>Jugar ahora</button>
        </div>
    </div>
</section>

