<section>
    <h1>¡BIENVENIDO!</h1>
    <h3>Si ya tienes una cuenta, inicia sesión a continuación</h3>
</section>

<section>
    <div>
        <form>
            <div>
                <label>Correo: </label>
                <input type="email" placeholder="ejemplo@correo.com">
            </div>
            <div>
                <label >Contraseña: </label>
                <input type="password" placeholder="******">
            </div>

            <div>
                <p>Si eres un adiministrador, probablemente te interese el botón de:</p>
                <input type="button" value="Acceso rápido">
            </div>
        </form>
    </div>
    <div>
        <p>Si no tienes una cuenta, haz <a routerLink="/register">click aquí</a> para crearte una.</p>
    </div>
</section>